<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.golan.amit.multiplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mul_board"
        android:label="לוח כפל"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CalculationActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".MultBoardActivity" android:screenOrientation="portrait" />
        <activity android:name=".MultiplicationActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>